body
{
  color: rgb(0, 167, 153);
  background: #35f804;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 77, 0);
  width: 350px;
  height: 300px; 
}
#resultEmotionName ,#resultEmotionName2 
{
  color: rgb(4, 8, 255);
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  border-radius:10 px ;
letter-spacing:10px ;
}